<footer class="footer">
  <div id="footer-nav-divider" class="footer-inner">
    <nav class="footer-links" aria-label="Footer navigation">
      <a href="https://business.event.it/" target="_blank">Event IT</a>
      <a href="/hc/requests/new?ticket_form_id=27145693838108">{{dc 'giv_feedback_footer_link'}}</a>
      <a
        href="/hc/da/articles/27265267058588-Privatlivspolitik"
      >{{dc 'privatlivspolitik_footer_link'}}</a>
      <a href="#">{{dc 'praeferencer_footer_link'}}</a>
    </nav>
  </div>

  <div class="footer-inner footer-bottom">
    <div class="footer-copy">© 2026 Event IT </div>

    <div class="footer-social">
      <span class="follow-label">{{dc 'follow_footer_link'}}</span>
      <div>
        <a
          href="https://www.linkedin.com/company/flexbillet/"
          class="social social-linkedin"
          aria-label="LinkedIn"
          target="_blank"
        >
          <img src="{{asset 'filled-linkedIn.svg'}}" alt="LinkedIn logo" />
        </a>
        <a
          href="https://www.facebook.com/eventitdk/"
          class="social social-facebook"
          aria-label="Facebook"
          target="_blank"
        >
          <img src="{{asset 'filled-facebook.svg'}}" alt="facebook logo" />
        </a>
        <a
          href="https://www.instagram.com/eventit.dk/"
          class="social social-instagram"
          aria-label="Instagram"
          target="_blank"
        >
          <img src="{{asset 'filled-instagram.svg'}}" alt="instagram logo" />
        </a>
      </div>
    </div>
  </div>
</footer>